@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    /*--background: 0 0% 3.9%; /* 950 */
    --background: 0 0% 9%;
    --foreground: 0 0% 98%; /* 50 */

    --card: 0 0% 3.9%; /* 950 */
    --card-foreground: 0 0% 98%; /* 50 */

    /* --popover: 0 0% 3.9%; 950 */
    --popover: 0 0% 9%; /* 800 */
    --popover-foreground: 0 0% 98%; /* 50 */

    /* --primary: 0 0% 98%; 50 */
    --primary: 238.7 83.5% 66.7%; /* indigo-500 */
    /* --primary: 217.2 91.2% 59.8%; from 50 to blue-500 */
    --primary-foreground: 0 0% 98%; /* 50 */

    --secondary: 0 0% 14.9%; /* 800 */
    --secondary-foreground: 0 0% 98%; /* 50 */

    --muted: 0 0% 14.9%; /* 800 */
    --muted-foreground: 0 0% 63.9%; /* 400 */

    --accent: 0 0% 14.9%; /* 800 */
    --accent-foreground: 0 0% 98%; /* 50 */

    --destructive: 0 84.2% 60.2%; /* red-500 */
    --destructive-foreground: 0 0% 98%; /* 50 */

    --border: 0 0% 25.1%; /* 700 */
    /* --border: 0 0% 14.9%; 800 */
    --input: 0 0% 14.9%; /* 800 */
    /* --ring: 0 0% 83.1%; 300 */
    --ring: 0 0% 63.9%; /* 400 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  em-emoji-picker {
    @apply w-full;
  }
}
